* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  background-color: white;
  color: black;
  line-height: 1.6;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 15px;
  flex-wrap: wrap;
}

.headerCenter {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: floralwhite;
}

.addBookDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
}

.newBookBtn {
  padding: 10px 25px;
  background: greenyellow;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid black;
  color: black;
  font-size: 15px;
  width: 121px;
}

.close {
  background: red;
  color: white;
}

.bookForm {
  display: none;
  gap: 1rem;
  padding: 15px;
}

.visible {
  display: flex;
}

label {
  display: flex;
  flex-direction: column;
}

.addBookBtn {
  display: flex;
  justify-content: center;
  align-self: end;
  width: 75px;
  padding: 2px 5px;
}

.bookDiv {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  min-width: 150px;
}

.bookDeleteBtn {
  border: none;
  cursor: pointer;
}
